<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments.html :: head"></head>

<body>
<nav th:replace="fragments.html :: main-nav"></nav>

<main>
    <div class="container">
        <div class="row justify-content-center">
            <!-- Material form register -->
            <div class="py-5 col-md-6">
                <h5 class="text-center py-4">
                    <strong>Sign up</strong>
                </h5>
                <hr>

                <div class="px-lg-5">
                    <form class="" style="color: #757575;" action="#" th:action="@{/sign-up}"
                          method="post"
                          th:object="${signUpForm}">

                        <div class="md-form form-group">
                            <input type="text" id="nickname" th:field="*{nickname}" class="form-control"
                                   aria-describedby="nicknameHelp" required >
                            <label for="nickname">Nick name</label>
                            <small id="nicknameHelp" class="form-text text-muted">
                                문자, 숫자로 4자 이상 20자 이내로 입력하세요.
                            </small>
                            <small class="invalid-feedback">닉네임을 입력하세요.</small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error</small>
                        </div>

                        <!-- E-mail -->
                        <div class="md-form form-group">
                            <input type="email" id="email" th:field="*{email}" class="form-control"
                                   aria-describedby="emailHelp" required>
                            <label for="email">E-mail</label>
                            <small id="emailHelp" class="form-text text-muted">
                                메일 수신이 가능한 계정을 입력해주세요
                            </small>
                            <small class="invalid-feedback">이메일을 입력하세요.</small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
                        </div>

                        <!-- Password -->
                        <div class="md-form form-group ">
                            <input type="password" id="password" th:field="*{password}" class="form-control"
                            aria-describedby="passwordHelp" required>
                            <label for="password">Password(At least 8 characters)</label>
                            <small id="passwordHelp" class="form-text text-muted">
                                대문자, 영문자, 숫자 이용해 8자 이상 20자 이내로 입력하세요.
                            </small>
                            <small class="invalid-feedback">패스워드를 입력하세요.</small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
                        </div>

                        <button class="btn btn-outline-info btn-rounded btn-block my-5 waves-effect z-depth-0"
                                type="submit">Sign up
                        </button>

                        <div class="text-center">
                            <p>or sign in with:</p>
                            <a type="button" class="btn-floating btn-li btn-sm">
                                <i class="fab fa-google"></i>
                            </a>
                            <a type="button" class="btn-floating btn-git btn-sm">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                        <hr>
                    </form>
                    <!-- Form -->
                </div>
            </div>
            <!-- Material form register -->
        </div>
    </div>
</main>

<footer th:replace="fragments.html :: footer"></footer>

</body>
</html>