<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments.html :: head"></head>

<body>
<nav th:replace="fragments.html :: main-nav"></nav>

<main>
    <div class="container">
        <div class="row justify-content-center">

            <div class="py-5 col-md-6">
                <h5 class="text-center py-4">
                    <strong>Sign in</strong>
                </h5>
                <hr>

                <div class="px-lg-5">
                    <form class="needs-validation" style="color: #757575;" action="#"
                          th:action="@{/login}" method="post">

                        <div class="md-form form-group">
                            <input id="username" name="username" type="text" class="form-control"
                                   aria-describedby="emailHelp" required>
                            <label for="username">Nickname or E-mail</label>
                            <small class="invalid-feedback">이메일을 입력하세요.</small>
                            <small id="emailHelp" class="form-text text-muted">
                                이메일 또는 닉네임을 입력하세요.
                            </small>
                        </div>
                        <!-- Password -->

                        <div class="md-form form-group">
                            <input type="password" id="password" name="password" class="form-control"
                                   aria-describedby="passwordHelp" required>
                            <label for="password">Password</label>
                            <small id="passwordHelp" class="form-text text-muted">
                                비밀번호를 입력하세요
                            </small>
                            <small class="invalid-feedback">패스워드를 입력해주세요</small>
                        </div>

                        <div th:if="${param.error}" class="alert alert-danger" role="alert">
                            <small>이메일(또는 닉네임)과 패스워드가 정확하지 않습니다.</small>
                            <small>확인 후 다시 입력하시거나, <a href="#" th:href="@{/find-password}">패스워드 찾기</a>를 이용하세요.
                            </small>
                        </div>


                        <div class="form-group">
                            <!-- Remember me -->
                            <div class="form-check form-group">
                                <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                                <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
                            </div>
                        </div>

                        <!-- Sign in button -->
                        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                                type="submit">Sign in
                        </button>

                        <div class="text-center">

                            <small><p>회원이 아니십니까?
                                <a th:href="@{/sign-up}">회원가입</a>
                            </p></small>

                            <!-- Social login -->
                            <p>SNS 로그인</p>
                            <a type="button" class="btn-floating btn-li btn-sm">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a type="button" class="btn-floating btn-git btn-sm">
                                <i class="fab fa-github"></i>
                            </a>

                        </div>
                        <!-- Register -->
                    </form>
                    <!-- Form -->
                </div>
            </div>
        </div>
        <!-- Material form login -->
    </div>
</main>

<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <div class="pt-4">
        <a class="btn btn-outline-white" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
           target="_blank"
           role="button">Download MDB
            <i class="fas fa-download ml-2"></i>
        </a>
        <a class="btn btn-outline-white" href="https://mdbootstrap.com/education/bootstrap/" target="_blank"
           role="button">Start
            free tutorial
            <i class="fas fa-graduation-cap ml-2"></i>
        </a>
    </div>
    <hr class="my-4">

    <div class="pb-4">
        <a href="https://www.facebook.com/mdbootstrap" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="https://twitter.com/MDBootstrap" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>

        <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
            <i class="fab fa-google-plus-g mr-3"></i>
        </a>

        <a href="https://dribbble.com/mdbootstrap" target="_blank">
            <i class="fab fa-dribbble mr-3"></i>
        </a>

        <a href="https://pinterest.com/mdbootstrap" target="_blank">
            <i class="fab fa-pinterest mr-3"></i>
        </a>

        <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
            <i class="fab fa-github mr-3"></i>
        </a>

        <a href="http://codepen.io/mdbootstrap/" target="_blank">
            <i class="fab fa-codepen mr-3"></i>
        </a>
    </div>
    <div class="footer-copyright py-3">
        © 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
    </div>

</footer>

</body>
</html>