<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments.html :: head"></head>

<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<div class="container">
    <div class="row">
        <nav th:replace="fragments.html :: settings-menu"></nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="container p-3">
                <div class="row">
                    <!--Content-->
                    <form th:action="@{/settings/changePassword}" method="post" novalidate>

                        <div class="row">
                            <div class="form-group">
                                <label for="nowPassword">현재 비밀번호</label>
                                <input class="form-control" type="password" id="nowPassword">
                                <label for="changePassword">비밀번호 변경</label>
                                <input class="form-control" type="password" id="changePassword">
                                <label for="checkChangePassword">변경된 비밀번호 확인</label>
                                <input class="form-control" type="password" id="checkChangePassword">
                                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                                        type="submit">비밀번호 변경
                                </button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </main>
    </div>
</div>

<footer th:replace="fragments.html :: footer"></footer>

</body>
</html>


