<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments.html :: head"></head>

<body>
<nav th:replace="fragments.html :: main-nav"></nav>

<main>
    <div class="container">
        <div class="row">
            <div th:replace="fragments.html :: settings-menu" class="col-2"></div>
            <div class="col-8">
                <div class="row">
                    <form th:action="@{/settings/user}" method="post" novalidate>
                        <div class="form-group">
                            <label for ="nickname"></label>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- Material form login -->
    </div>
</main>

<footer th:replace="fragments.html :: footer"></footer>

</body>
</html>